.createModal {
    background-color: #1c313a;
    color: #1c313a;
}

.secondary-button {
    margin-top: 8em; 
    margin-left: 2em;
    width: 140px;
    height: 45px; 
    border: solid 3px #fdff58 !important; 
    font-weight: bold !important;
    color: #1c313a !important;
    background-color: #c6ff00 !important; 
}