img{
    position: relative;
    top: 10px;
    bottom: 0px;
    width:40%
}

.loadButton{
    position: relative;
    top:-30px;
    bottom: 50px;
    left: 110px;
}

form{
    position: relative;
    top: 20px;
    bottom:10px;
}